[project]
	description = A simple app to start with AngularJS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DBraun (DBProductions)
[access "refs/for/refs/*"]
	read = group user/DBraun (DBProductions)
	push = group user/DBraun (DBProductions)
	label-Code-Review = -2..+2 group user/DBraun (DBProductions)
	label-Verified = -1..+1 group user/DBraun (DBProductions)
	rebase = group user/DBraun (DBProductions)
	removeReviewer = group user/DBraun (DBProductions)
	submit = group user/DBraun (DBProductions)
[access "refs/heads/*"]
	read = group user/DBraun (DBProductions)
	create = group user/DBraun (DBProductions)
	push = +force group user/DBraun (DBProductions)
	pushMerge = group user/DBraun (DBProductions)
[access "refs/tags/*"]
	push = +force group user/DBraun (DBProductions)
	pushTag = group user/DBraun (DBProductions)
	pushSignedTag = group user/DBraun (DBProductions)
