<!doctype html>
<html lang="en" data-ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>AngularJS starter app</title>
        <link rel="stylesheet" href="src/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="src/css/font-awesome.min.css">
        <link rel="stylesheet" href="src/app/css/app.css"/>
    </head>
    <body>
        <div class="container">
            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">AngularJS starter app</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#/users"><i class="fa fa-users"></i> Users</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-ng-view></div>
        </div> 
        <br>
        <div id="footer">
            <div class="container">
                <p class="text-muted text-right">AngularJS starter app: V.<span app-version></span></p>
            </div>
        </div>
        <!-- lib files -->
        <script src="src/lib/jquery-1.11.2.min.js"></script>
        <script src="src/lib/bootstrap.min.js"></script>
        <script src="src/lib/angular.min.js"></script>
        <script src="src/lib/angular-route.min.js"></script>
        <script src="src/lib/angular-resource.min.js"></script>
        <!-- app files -->
        <script src="src/app/js/app.js"></script>
        <script src="src/app/js/services.js"></script>  
        <script src="src/app/js/controllers.js"></script>
        <script src="src/app/js/filters.js"></script>
        <script src="src/app/js/directives.js"></script>
        <script src="src/app/js/users/services.js"></script>
        <script src="src/app/js/users/controllers.js"></script>
    </body>
</html>
