<div class="row">
    <form name="frmInsert" data-ng-controller="UserAddCtrl" novalidate>
        <div class="col-md-3">
            <div class="form-group">
            	<label>Email:</label>
                <input type="email" class="form-control" name="email" placeholder="Email" data-ng-model="user.email" required="required">
                <p id="emailErr" class="text-warning" data-ng-show="frmInsert.email.$dirty && frmInsert.email.$error.email">Valid email required.</p>
            </div>
            <div class="form-group">
                <label>Age:</label>
                <input type="text" class="form-control" name="age" placeholder="Age" data-ng-model="user.age" min="1" max="99" required="required">
            </div>
            <div class="form-group">
                <label>Gender:</label><br>                
                <label class="checkbox-inline">
                    <input type="radio" name="gender" data-ng-model="user.gender" value="female"> female
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="gender" data-ng-model="user.gender" value="male"> male
                </label>
            </div>
            <div class="btn-group">
                <button type="submit" id="insertBtn" class="btn btn-primary" data-ng-disabled="frmInsert.$invalid" data-ng-click="submitForm()">Insert</button>
                <a href="/#/users" id="backBtn" class="btn btn-default">Back</a>
            </div>
        </div>
    </form>
</div>