<div class="row">
    <form name="frmInsert" data-ng-controller="UserAddCtrl" novalidate>
        <div class="col-md-6">
            <div class="form-group">
            	<label>Email:</label>
                <input type="text" class="form-control" name="email" placeholder="Email" data-ng-model="user.email" required="required">
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" id="insertBtn" class="btn btn-default" data-ng-disabled="frmInsert.$invalid" data-ng-click="submitForm()">Insert</button>
                </div>
            </div>
        </div>
    </form>
</div>