<div class="row">
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Search" data-ng-model="query[queryBy]">
    </div>
    <div class="col-md-3 info-text">
        There are <strong>{{(users|filter:query).length}}</strong> users<span data-ng-show="query.length"> matching &quot;{{query}}&quot;</span>.
    </div>
</div>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Email</th>
            <th>Age</th>
            <th>Gender</th>
            <th style="width:8%">&nbsp;</th>
        </tr>
        <tr data-ng-repeat="user in users | filter:query | limitTo:pageSize | orderBy:orderProp">
            <td><a href="#/users/{{user._id}}">{{user.email}}</a></td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td><button class="btn btn-default" data-ng-click="edit(user)" title="Edit"><i class="fa fa-edit fa-fw"></i></button></td>            
        </tr>        
        <tr data-ng-show="(users|filter:query).length == 0">
            <td colspan="2">No entries</td>
        </tr>
    </table>
</div>